@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato: #ff6257;
    --tomato2:#ff8757;
    --light-red: #f3cac7;
    --Dark-Slate-Grey: #242742;
    --Charcoal-rey: #36384e;
    --Grey: #9294a0;
    --White: #ffffff;

    --font-roboto: "Roboto", 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Charcoal-rey);
    font-family: var(--font-roboto);
    font-size: 16px;
    height: 100vh;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96%;
}

.main-card {
    background-color: var(--White);
    padding: 20px;
    border-radius: 30px;
}

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2.2rem;
    width: 400px;
    padding-left: 2rem;
}

.card-text h1 {
    color: var(--Dark-Slate-Grey);
    font-size: 3.6rem;
}

.card-text p {
    font-size: 16px;
}

.card-text ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.4rem;
}

ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.email-box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#emailForm {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-text label {
    color: var(--Dark-Slate-Grey);
    font-size: 14px;
    font-weight: bold;
}

.required {
    border: 1px solid var(--Grey);
    border-radius: 5px;
    outline: none;
    padding: 16px;
    font-size: 1rem;
}

.email-box input::placeholder {
    color: var(--Grey);
    letter-spacing: .5px;
    font-size: 14px;
}

.errorEmail {
    border: 1px solid red;
    color: rgb(250, 51, 51);
    background-color: var(--light-red);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: .2px;
}

.error {
    display: none;
    color: rgb(255, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


.btn-subscribe, .btn-dimiss {
    width: 100%;
    background-color: var(--Dark-Slate-Grey);
    color: white;
    padding: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--font-roboto);
    font-size: 1rem;
}

.btn-subscribe:hover, .btn-dimiss:hover {
    background: linear-gradient(45deg, rgb(238, 39, 132), var(--tomato2));
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

.success {
    display: none;
}

.success-message {
    background-color: var(--White);
    padding: 50px;
    border-radius: 30px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.success-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.success-message h1 {
    font-size: 2.8rem;
}

.success-message p {
    letter-spacing: .2px;
    line-height: 1.2rem;
}

.sc-icon {
    width: 64px;
}

.dn {
    display: none;
}

.db{
    display: block;
}

@media screen and (max-width: 930px) {
    body {
        background-color: var(--White);
        height: auto;
    }
    .main-card {
        border-radius: 0;
        padding: 0;
    }
    .card-flex {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
    .card-text {
        max-width: 375px;
        padding: 2rem;
        gap: 1.8rem;
    }
    .card-text h1 {
        font-size: 2.2rem;
    }
    .card-text p {
        line-height: 1.4rem;
    }
    .card-text ul {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }
    .card-text ul li {
        gap: 1.1rem;
        align-items: self-start;
        font-size: 1rem;
    }
    .form-text label {
        font-size: 12px;
    }
    .error {
        font-size: 11px;
        letter-spacing: .3px;
    }
    .form-inputs {
        gap: 1.6rem;
    }
}